/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic");

body {
    // height: 100vh;
    font-family: Roboto;
    background-color: rgb(87, 83, 83);
}
.container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 200px 0 0 0;
}
.calc {
    border: 5px solid orangered;
    border-radius: 15px;
    padding: 20px;
    // .calc__input

    &__input {
        width: 200px;
        height: 25px;
        background-color: black;
        color: white;
        border-radius: 10px;
        padding: 0 0 0 5px;
    }
    // .calc__number

    &__number {
        margin-top: 20px;
        display: grid;

        height: 150px;
        grid-template-columns: 30px 30px 30px 30px;
        grid-gap: 10px 5px;
        justify-content: center;
    }

    // .calc__button

    &__button {
        // width: 50px;
        // height: 50px;
        border-radius: 50px;
        background-color: #fff;
        transition: 0.5s;
    }

    &__button:hover {
        border-radius: 5px;
        //background-color: rgb(255, 210, 166);
    }

    // .calc__img-xmark

    &__img-xmark {
        width: 17px;
        height: 17px;
    }

    // .calc__img-delete

    &__img-delete {
        width: 17px;
        height: 17px;
        padding: 0 2px 0 0;
    }
}

.red {
    background-color: rgb(250, 135, 135);
}

.brackets,
.percent,
.divide,
.multiply,
.minus,
.plus,
.equals {
    background-color: rgb(200, 200, 255);
}
